@model FIBRACAT.Models.Administrador

@{
      ViewData["Title"] = "Administrador";
}

<h4> Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CID" />
            <div class="form-group">
                <label asp-for="NPRODUCTO" class="control-label"></label>
                <input asp-for="NPRODUCTO" class="form-control" />
                <span asp-validation-for="NPRODUCTO" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FOTO" class="control-label"></label>
                    <input asp-for="FOTO" class="form-control" />
                    <span asp-validation-for="FOTO" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DESCRIPCION" class="control-label"></label>
                    <input asp-for="DESCRIPCION" class="form-control" />
                    <span asp-validation-for="DESCRIPCION" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PRECIO" class="control-label"></label>
                <input asp-for="PRECIO" class="form-control" />
                <span asp-validation-for="PRECIO" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CELULAR" class="control-label"></label>
                <input asp-for="CELULAR" class="form-control" />
                <span asp-validation-for="CELULAR" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="LUGAR" class="control-label"></label>
                <input asp-for="LUGAR" class="form-control" />
                <span asp-validation-for="LUGAR" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="NCOMPRADOR" class="control-label"></label>
                <input asp-for="NCOMPRADOR" class="form-control" />
                <span asp-validation-for="NCOMPRADOR" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CATEGORIA" class="control-label"></label>
                <input asp-for="CATEGORIA" class="form-control" />
                <span asp-validation-for="CATEGORIA" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Agregar" class="btn btn-primary btn-block" />
                </div>
                <div  class="form-group col-md-6">
                    <a asp-action="Index"  class="btn btn-secondary btn-block"><i class="fa fa-table"></i> 
Volver a la lista</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
