<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FIBRACAT - INTERNET FIJO </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<style>
.product {
  position: relative;
  margin: 15px 0px;
  transition: 0.2s all;
}

.product:hover {
  box-shadow: 0px 0px 6px 0px #F3753A;
}

.product .product-img {
  position: relative;
}

.product .product-img>img {
  width: 100%;
}

.product .product-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
  }
.product .product-body .product-category {
  text-transform: uppercase;
  font-size: 12px;
  color: #8D99AE;
}

.product .product-body .product-name {
  text-transform: uppercase;
  font-size: 14px;
}
.product .product-body .product-name>a {
  font-weight: 700;
}

.product .product-body .product-price {
  color: #D10024;
  font-size: 16px;
}

.product .product-body .product-btns>button {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

.product .product-body .product-btns>button:hover {
  background-color: #333333;
  color: #F3753A;
  border-radius: 50%;
}

</style>
<body>
<div class="cont">
				<div class="roow">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">PAQUETES</h3>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/AC_01.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">PLAN PERSONAL</p>
								<h3 class="product-name"><a href="#">30 Mb</a></h3>
								<h4 class="product-price">s/ 62.90 al mes</h4>
                <h4>Velocidad de internet HTC</h4>
                <h4></h4>
								<div class="product-btns">
									<button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/AC_02.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">PLAN PERSONAL</p>
								<h3 class="product-name"><a href="#">50 Mb</a></h3>
								<h4 class="product-price">S/ 75.90 al mes</h4>
								<div class="product-btns">
									<button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>
					<!-- /product -->

					<div class="clearfix visible-sm visible-xs"></div>

					<!-- product -->
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/AC_03.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">PLAN FAMILIAR</p>
								<h3 class="product-name"><a href="#">100 Mb</a></h3>
								<h4 class="product-price">S/ 95.90 al mes</h4>
								<div class="product-btns">
									<button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/AC_04.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">PLAN FAMILIAR</p>
								<h3 class="product-name"><a href="#">150 Mb</a></h3>
								<h4 class="product-price">S/ 140.90 al mes</h4>
								<div class="product-btns">
									<button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>
                    <div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="./img/AC_04.jpg" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">PLAN FAMILIAR</p>
								<h3 class="product-name"><a href="#">180 Mb</a></h3>
								<h4 class="product-price">S/ 170.90 al mes</h4>
								<div class="product-btns">
									<button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>
          </div>

    </body>
</html>